.feature{
    background-color: whitesmoke;
    width: 65%;
    padding: 30px;
    margin: 7px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px lightgreen;
    
}
.feature:hover{
    background-color: rgb(241, 213, 213);
    width: 65%;
    padding: 30px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 8px 8px 10px lightsalmon;
    border: 5px double lightsalmon;
    transition: .8s ease-out all;
}
.feature h5{
    color: blue;
    font-weight: 600;
    margin-top: 5px;
}
.feature button{
    background-color: rgb(166, 241, 44);
    height: 35px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 2px 2px 4px gray;
    cursor: pointer;
}
.feature button:hover{
    background-color: rgb(117, 86, 5);
    height: 35px;
    border-radius: 10px;
    width: 190px;
    box-shadow: 2px 2px 4px lightgreen;
    color:white;
    border: 3px double whitesmoke;
    transition: 1.5s ease all;
}
.product{
    display: flex;
    flex-direction: row;
    height: 330px;
    border-bottom: 1px solid lightgray;
   
}
.image{
    flex-direction: column;
    width:32%;
    padding: 45px;
    margin-left: 5px;
    box-shadow: 5px 5px 10px lightgreen;
    border-radius: 100%;
}
.image:hover{
    flex-direction: column;
    width:30%;
    padding: 35px;
    margin: 5px;
    box-shadow: 8px 8px 15px rgb(107, 219, 107);
    border-radius: 20%;
    transition: 1s ease all;
    border: 5px double lightgreen;
}
.image img{
    display: flex;
    border-radius: 20%;
    margin-left: 10px;
}
